* {
    margin: 0;
    padding: 0;
}

@keyframes animacao-botao {

    to {
        transform: scale(1.14);
    }

}

h1 {
    font-size: 35px;
}

p {
    font-family: "Rubik", sans-serif;
}

button {
    cursor: pointer;
    border: none;
    font-family: "Staatliches", sans-serif;
    font-weight: bold;
}

body {
    background-color: #410553;
    font-family: "Staatliches", sans-serif;

}

header {
    background-color: black;
    height: 10vh;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav button,
nav a {
    font-family: "Staatliches", sans-serif;
    background-color: transparent;
    color: white;
}

nav button:hover {
    transform: scale(1.1);
    color: #410553;
    -webkit-text-stroke: white 0.3px;
}

.btn-contato {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(95, 247, 57);
    animation-name: animacao-botao;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.btn-contato:hover {
    background-color: rgb(179, 255, 2);
    ;
}

.btn-contato img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*P치gina projetos*/

.box-projetos {
    display: block;
    margin: auto;

}

.card-projeto {
    cursor: pointer;
    border: 5px solid #410553;
    box-sizing: border-box;
}

.teste-embrulho {
    position: absolute;
    background-color: #18e01828;
}

/*P치gina Sobre */

.main-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre-allyson-img {
    margin-top: 10px;
    border: 5px solid white;
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    box-shadow: 10px 10px #0000004f;
}

.sobre-informacoes {
    padding: 30px;
    width: 300px;
    background-color: #000000b0;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 10px 10px #0000004f;
}

.sobre-informacoes p {
    font-size: 23px;
}

.sobre-quadro-tecnologias {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    box-sizing: border-box;
}

.img-quadro-techs {
    background-color: white;
    margin: 10px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    box-sizing: border-box;
    display: inline-block;
}

.img-quadro-techs img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.sobre-allyson-img img {
    width: 100%;
    height: 100%;
}

.sobre-ul-cursos li {
    font-family: "Rubik", sans-serif;
    ;
    font-size: 23px;
    margin-bottom: 15px;

}

/*P치gina projeto detalhado */

.video-projeto {
    background-color: #000000b0;
    box-shadow: 10px 10px #0000004f;
}

.info-projeto {
    background-color: #000000b0;
    box-shadow: 10px 10px #0000004f;
}

.descricao-projeto {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-texto-descricao {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 22px;
}

.links-projeto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
}

.links-projeto div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parte-legenda-btn-link h3 {
    margin-top: 15px;
    color: white;
    font-weight: 300;
}


@media (min-width: 300px) {
    nav button {
        font-size: 30px;
    }

    .main-index {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagem-desenvolvedor {
        width: 300px;
        height: 350px;
        border: 5px solid white;
        box-shadow: 10px 10px #0000004f;
        margin-top: 10px;
    }

    .imagem-desenvolvedor img {
        width: 100%;
        height: 100%;
    }

    .card-apresentacao {
        margin-top: 20px;
        background-color: #000000b0;
        box-shadow: 10px 10px #0000004f;
        display: block;
        width: 100%;
        height: 350px;
    }

    .card-apresentacao button:hover {
        transform: scale(1.1);
    }

    .bem-vindo-texto {
        color: white;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .embrulho-bem-vindo-texto {
        font-size: 35px;
    }

    .eu-sou {
        font-size: 25px;
        color: white;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-veja-meus-projetos {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-veja-meus-projetos button {
        margin-top: 20px;
        background-color: white;
        border: 2px solid black;
        color: #000;
        width: 200px;
        height: 50px;
        font-size: 25px;
        animation-name: animacao-botao;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
    }

    .btn-veja-meus-projetos button:hover {
        background-color: #000;
        color: white;
        border-color: white;
    }

    .social-media {
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .btn-social-media {
        background-color: black;
        border: 2px solid white;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-social-media:hover {
        transform: scale(1.1);
        rotate: 10deg;
    }

    .btn-social-media img {
        width: 90%;
        height: 90%;
    }

    .box-projetos {
        width: 95vw;
    }

    .card-projeto {
        position: relative;
        width: 100%;
        height: 50vh;
        display: block;
    }

    .titulo-card-projeto {
        background-color: #000000b0;
        color: white;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .imagem-card-projeto {
        background-color: #000;
        width: 100%;
        height: 80%;
    }

    .imagem-card-projeto img {
        width: 100%;
        height: 100%;
    }

    .box-projeto-selecionado {
        width: 100%;
        height: 80%;
        position: absolute;
    }

    .projeto-selecionado {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #000000bb;
    }

    .projeto-selecionado button {
        padding: 10px;
        font-size: 22px;
        width: 150px;
        height: 80px;
    }

    .projeto-selecionado button:hover {
        transform: scale(1.1);
    }

    .video-projeto {
        width: 95vw;
        height: 300px;
        margin: auto;
    }

    .titulo-video-projeto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
    }

    .video-projeto iframe {
        width: 99%;
        height: 79%;
    }

    .info-projeto {
        width: 95vw;
        height: 300px;
        margin-top: 30px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
    }

    .parte-legenda-btn-link h3 {
        font-size: 15px;
    }

    .box-wrapper-info-projetos,
    .box-wrapper-curiosidades {
        width: 100%;
        height: 100%;
        background-color: #fffffff1;
        position: absolute;
        top: 0;
        display: none;
    }

    .texto-curiosidade {
        font-size: 20px;
        height: max-content;
        text-align: center;
        width: 90%;
    }

    .box-titulo-info-detalhada {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo-info-detalhada {
        font-size: 30px;
    }

    .box-conteudo-info-detalhada,
    .box-info-curiosidade {
        width: 100%;
        height: 80%;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .box-info-curiosidade {
        justify-content: center;
        align-items: start;
        overflow: hidden;
        overflow-y: scroll;
    }

    .box-tecnologia {
        font-size: 30px;
        padding: 5px;
        background-color: #000000;
        color: #410553;
        -webkit-text-stroke: 0.4px white;
    }

    .btn-fechar-info-detalhada {
        background-color: #a10b0b;
        background-image: url('./img/close.svg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-size: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: absolute;
        right: 5px;
        top: -35px;
    }

    .btn-fechar-info-detalhada:hover {
        transform: scale(1.1);
    }


    footer {
        font-size: 25px;
        height: 25vh;
    }
}

@media (min-width: 576px) {

    .sobre-informacoes {
        width: 400px;
    }

    .sobre-allyson-img {
        width: 400px;
    }

    .btn-fechar-info-detalhada {
        top: -27px;
    }

    .video-projeto {
        margin-top: 30px;
    }

    .texto-curiosidade {
        font-size: 25px;
    }

    footer {
        font-size: 30px;
        height: 32vh;
    }
}

@media (min-width: 768px) {

    .main-index {
        height: 100vh;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .imagem-desenvolvedor {
        height: 400px;
        margin-left: 50px;
    }

    .card-apresentacao {
        height: 250px;
        width: 350px;
    }

    .embrulho-bem-vindo-texto {
        font-size: 25px;
    }

    .btn-social-media {
        width: 45px;
        height: 45px;
    }

    .btn-contato {
        position: fixed;
        margin: 0;
        left: 10px;
        bottom: 10px;
    }

    .box-projetos {
        height: auto;
        overflow: hidden;
    }

    .card-projeto {
        margin: 0;
        width: 50%;
        height: 300px;
        float: left;
    }

    .video-projeto {
        margin: auto;
        height: 500px;
    }

}

@media (min-width: 992px) {
    .main-projeto-detalhado {
        display: flex;
        height: 100vh;
        flex-direction: row;
        align-items: center;
    }

    .video-projeto {
        height: 300px;
        width: 450px;
    }

    .info-projeto {
        width: 450px;
        margin: auto;
    }

    .parte-legenda-btn-link h3 {
        font-size: 20px;
    }

    .sobre-informacoes {
        width: 900px;
    }

    .sobre-quadro-tecnologias {
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .card-apresentacao {
        height: 300px;
        width: 400px;
    }

    .btn-social-media {
        width: 50px;
        height: 50px;
    }

    .video-projeto {
        width: 550px;
        height: 350px;
    }

    .info-projeto {
        width: 550px;
        height: 350px;
    }

    footer {
        height: 13vh;
    }
}

/*Classes utilit치rias*/
.color-white {
    color: white;
}

.mg-top-15 {
    margin-top: 15px;
}